body {
  background-image: url(/clima.jpg);
  /* background-repeat: no-repeat; */
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: lightskyblue;
  width: 300px;
  margin: 0 auto;
  background-color: rgba(8, 0, 0, 0.3);
  border-radius: 20px;
}
.App h1 {
  color: blue;
  text-transform: uppercase;
  padding: 10px;
}
.App img {
  width: 50%;
}
.App button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: solid lightblue;
  width: 120px;
  height: 50px;
  margin: 0 auto;
  margin: 10px;
}
.App b {
  color: rgb(0, 149, 255);
}
